input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 50px;
  height: 3px;
  width: 200px;
}
#r {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(255,0,0));
}
#g {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,255,0));
}
#b {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,0,255));
}
label {
  text-transform: uppercase;
  padding: 5px 5px;
}
